* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--body-bg-clr);
}

:root {
  --body-bg-clr: #fff;
  --big-text-clr: #000;
  --medium-text-clr: #b3b3b3;
  --small-text-clr: #777;
  --content-clr: #f2f2f2;
  --hover-clr: #d9d9d9;
}

.dark-theme {
  --body-bg-clr: #000;
  --big-text-clr: #fff;
  --medium-text-clr: #fff;
  --small-text-clr: #fff;
  --content-clr: #282828;
  --hover-clr: #404040;
}

.header {
  width: 77%;
  padding: 2em 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-btn {
  top: 35px;
  right: 160px;
  display: flex;
  align-items: center;
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle input {
  position: absolute;
  cursor: pointer;
  right: 0px;
  width: 50px;
  z-index: 1;
  opacity: 0;
}

.dark-toggle {
  position: relative;
  background: #ccc;
  width: 45px;
  height: 18px;
  border-radius: 15px;
  padding: 2px 3px;
  display: block;
  margin-left: .5em;
  transition: 0.5s;
}

.dark-toggle::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
}

input:checked+.dark-toggle {
  background: #00a67e;
}

input:checked+.dark-toggle::before {
  transform: translateX(27px);
}

.social-media {
  width: 80%;
  margin: auto;
}

p {
  font-size: .8em;
  color: var(--small-text-clr);
}

h1, h2 {
  color: var(--big-text-clr);
}

h3 {
  color: var(--small-text-clr);
  margin-left: 20px;
}

h4 {
  color: var(--medium-text-clr);
  text-transform: uppercase;
  margin-bottom: 1em;
  letter-spacing: 3px;
  font-weight: 100;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 5px 0;
}

.content h1 {
  font-size: 3.5em;
  margin-top: 10px;
}

.accounts {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.accounts-content {
  height: 200px;
  width: 240px;
  background-color: var(--content-clr);
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  border-radius: .35em;
  border: solid 5px red;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  transition: 0.5s;
}

.accounts-content:hover {
  background-color: var(--hover-clr);
  transition: 0.5s;
}

.accounts-content .content {
  padding: 1.5em 0;
}

.overview-content {
  height: 100px;
  width: 240px;
  margin: auto;
  margin-bottom: 1em;
  background-color: var(--content-clr);
  text-align: center;
  border-radius: .35em;
  transition: 0.5s;
}

.overview-content:hover {
  background-color: var(--hover-clr);
  transition: 0.5s;
}

.overview .accounts {
  padding-bottom: 0;
}

.today {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  justify-content: space-between;
  padding: .5em 1em;
  align-items: center;
}

.attribution {
  color: var(--small-text-clr);
  font-size: 11px;
  text-align: center;
  margin: 2em 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 600px) {
  .header {
    margin: auto;
    display: block;
  }

  .header-btn {
    padding-top: 1em;
  }
}